<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>emoMusic</title>
    <link rel="icon" href="/static/img/favicon.ico"/>
    <link rel="icon" href="/static/img/favicon.png" type="image/png"/>
    <!-- FONT -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,400i,500,700&display=swap" rel="stylesheet">
    <!-- STYLE -->
    <link href="/static/css/font-awesome.css" rel="stylesheet" type="text/css">
    <link href="/static/css/main.css" rel="stylesheet" type="text/css">
    <link href="/static/css/emotion.css" rel="stylesheet" type="text/css">
    <!-- LIB IMPORT -->
    <script type="text/javascript" src="/static/js/lib/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="/static/js/lib/webcam.min.js"></script>
    <script type="text/javascript" src="/static/js/lib/p5.min.js"></script>
    <!-- SCRIPT IMPORT -->
    <script>
        let emotion = "neutral";
        let audio = 'undefined';
        let bkg_color = 'transparent';

        function getToken() {
            return window.location.href.substring(44, 230);
        }

        function uploadImage() {
            // take snapshot and get image data
            Webcam.snap( function(data_uri) {
                // send image
                request = $.ajax({
                    url: "/emotion",
                    type: "post",
                    data: {
                        "photo" : data_uri,
                        "token" : getToken()
                    },
                    dataType: "json"
                });

                // Callback handler that will be called on success
                request.done(function (response){
                    if(response.emotion !== 'undefined') {
                        emotion = response.emotion;
                        audio = response.audio_features;
                        if (emotion === 'neutral') {
                            bkg_color = '#A45AE8';
                        } else if (emotion === 'happiness' || emotion === 'surprise') {
                            bkg_color = '#E8C75A';
                        } else if (emotion === 'fear' || emotion === 'anger'){
                            bkg_color = '#FF846F';
                        } else if (emotion === 'sadness' || emotion === 'contempt'){
                            bkg_color = '#6BDBFF';
                        } else if (emotion === 'disgust') {
                            bkg_color = '#79FF63';
                        } else {
                            bkg_color = 'transparent';
                        }
                        // TODO: efficient wave-shape definition?
                        f = map(audio.tempo, 60, 170, 0.2, 2);
                        $('.play').hide();
                        $(".load").hide();
                        $(".pause").show();
                    }
                });

                // Callback handler that will be called on failure
                request.fail(function (response){
                    emotion = 'anger';
                    bkg_color = '#FF846F';
                    // Log the error to the console
                    console.error("The following error occurred: "+
                        response.responseJSON.message
                    );
                });
            });
        }

        $( document ).ready(function() {
            //hide pause button until clicked
            $(".pause").hide();
            $('.play').hide();
            $(".load").show();
            // webcam settings
            Webcam.set({
                width: 320,
                height: 240,
                image_format: 'jpeg',
                jpeg_quality: 90
            });
            Webcam.attach( '#camera' );
            // 2 seconds after document ready snap webcam
            setTimeout(() => {
                uploadImage();
            }, 4000);

            //play button
            $('.next').click(function(){
                $('.next').hide();
                $(".load").show();
                // catch new emotion
                uploadImage();
                // Callback handler that will be called on success
                request.done(function (response){
                    $('.next').show();
                    $(".load").hide();
                    // activate animation
                    loop();
                });

                // Callback handler that will be called on failure
                request.fail(function (response){
                    $('.next').show();
                    $(".load").hide();
                    // Log the error to the console
                    console.error("Ops! We cannot skip the song");
                });
            });

            //play button
            $('.play').click(function(){
                $('.play').hide();
                $(".load").show();

                // pause song
                request = $.ajax({
                    url: "/play",
                    type: "post",
                    data: {
                        "token" : getToken()
                    },
                    dataType: "json"
                });
                // Callback handler that will be called on success
                request.done(function (response){
                    $('.pause').show();
                    $(".load").hide();
                    // activate animation
                    loop();
                });

                // Callback handler that will be called on failure
                request.fail(function (response){
                    $('.play').show();
                    $(".load").hide();
                    // Log the error to the console
                    console.error("Ops! We cannot resume the playback");
                });
            });

            //pause button
            $('.pause').click(function(){
                $('.pause').hide();
                $(".load").show();

                // pause song
                request = $.ajax({
                    url: "/pause",
                    type: "post",
                    data: {
                        "token" : getToken()
                    },
                    dataType: "json"
                });
                // Callback handler that will be called on success
                request.done(function (response){
                    $('.play').show();
                    $(".load").hide();
                    // slow down the animation
                    noLoop();

                });

                // Callback handler that will be called on failure
                request.fail(function (response){
                    $('.pause').show();
                    $(".load").hide();
                    // Log the error to the console
                    console.error("Ops! We cannot pause the playback");
                });
            });
        });
    </script>
    <script type="text/javascript" src="/static/js/sketch.js"></script>
</head>
<body>
<div id="main-layer">
    <div id="emo-context" class="image color"></div>
</div>
<div id="login">
    <div id="title">
        <h1><span>emo</span>Music</h1>
        <h3>Emotion recognition player manager</h3>
    </div>
    <div id="camera"></div>
</div>

<div id="player">
    <div class="controls">
        <div class="play"><span class="fas fa-play" aria-hidden="true"></span></div>
        <div class="pause"><span class="fas fa-pause" aria-hidden="true"></span></div>
        <div class="load rotating"><span class="fa fa-repeat" aria-hidden="true"></span></div>
        <div class="next" onclick="uploadImage()"><span class="fas fa-forward"></span></div>
    </div>
</div>
<footer>
    Copyright
</footer>
</body>
</html>