<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>emoMusic</title>
    <link rel="icon" href="/static/img/favicon.ico"/>
    <link rel="icon" href="/static/img/favicon.png" type="image/png"/>
    <!-- FONT -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,400i,500,700&display=swap" rel="stylesheet">
    <!-- STYLE -->
    <link href="/static/css/font-awesome.css" rel="stylesheet" type="text/css">
    <link href="/static/css/main.css" rel="stylesheet" type="text/css">
    <link href="/static/css/emotion.css" rel="stylesheet" type="text/css">
    <!-- LIB IMPORT -->
    <script type="text/javascript" src="/static/js/lib/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="/static/js/lib/webcam.min.js"></script>
    <script type="text/javascript" src="/static/js/lib/p5.min.js"></script>
    <!-- SCRIPT IMPORT -->
    <script>
    let bkg_color = "black";
    let emotion = "neutral";


    $(".pause").hide(); //hide pause button until clicked

    //play button
    $('.play').click(function(){
        $('.play').hide();
        $('.pause').show();
    });

    //pause button
    $('.pause').click(function(){
        $('.play').show();
        $('.pause').hide();
    });


    function getToken() {
        return window.location.href.substring(44, 230);
    }

    function uploadImage() {
        // take snapshot and get image data
        Webcam.snap( function(data_uri) {
            // send image
            request = $.ajax({
                url: "/emotion",
                type: "post",
                data: {
                    "photo" : data_uri,
                    "token" : getToken()
                },
                dataType: "json"
            });

            // Callback handler that will be called on success
            request.done(function (response){
                if(response.emotion !== 'undefined') {
                    emotion = response.emotion;
                   switch(emotion) {
                       case "happiness":
                          bkg_color = "yellow";
                           break;
                       case "surprise":
                           bkg_color = "yellow";
                           break;
                       case "anger":
                       case "contempt":
                       case "disgust":
                       case "fear":
                       case "sadness":
                           bkg_color = "blue";
                           break;

                       case "neutral":
                            bkg_color = "black";
                           break;
                       default:

                           break;
                   }
                }
            });

            // Callback handler that will be called on failure
            request.fail(function (response){
                // Log the error to the console
                console.error("The following error occurred: "+
                    response.responseJSON.message
                );
            });
        });
    }

    // shorthand for $( document ).ready()
    $(function() {
        // webcam settings
        Webcam.set({
            width: 320,
            height: 240,
            image_format: 'jpeg',
            jpeg_quality: 90
        });
        Webcam.attach( '#camera' );
    });
</script>

    <script type="text/javascript" src="/static/js/sketch.js"></script>
</head>
<body>
<div id="main-layer">
    <div class="image color"></div>
</div>
<div id="login">
    <div id="title">
        <h1><span>emo</span>Music</h1>
        <h3>Emotion recognition player manager</h3>
    </div>
    <div id="camera"></div>
    <button onclick="uploadImage()">Send Image</button>
</div>

<!--<div id="player">-->
<!--    <div class="controls">-->
<!--        <div class="previous"><span class="fas fa-backward"></span></div>-->
<!--        <div class="play"><span class="fas fa-play"></span></div>-->
<!--        <div class="pause"><span class="fas fa-pause"></span></div>-->
<!--        <div class="next"><span class="fas fa-forward"></span></div>-->
<!--    </div>-->
<!--</div>-->
<footer>
    Copyright
</footer>
</body>
</html>